module.exports = {
  /**
   * REQUIRED: The name of your action. GitHub displays the name in the Actions tab to help visually identify actions in each job.
   * Used By: action.yml, README.md
   * */
  name: '{{name}}',
  /**
   * REQUIRED: Description of what the action does
   * Used By: action.yml, README.md
   */
  description: {
    /**
     * REQUIRED: Used in action.yml, and optionally (if detailed is omitted) in README as well
     * Used By: action.yml and optionally README.md
     */
    short: '{{description}}',
    /**
     * OPTIONAL: Detailed description of what this action does
     * Used By: README.md
     */
    detailed: undefined,
  },
  {{#inputs.0}}
  /**
   * OPTIONAL: An array of inputs that action accepts. Inputs allow you to specify data that the action expects to use during runtime. GitHub stores input parameters as environment variables. Input ids with uppercase letters are converted to lowercase during runtime. We recommended using lowercase input ids
   * Used By: action.yml, README.md
   */
  inputs: [
  {{/inputs.0}}
  {{#inputs}}
    {
      /**
       * REQUIRED: ID of the input.  Must be unique to the action
       */
      id: '{{id}}',
      /**
       * REQUIRED: Description of the input
       */
      description: {
        /**
         * REQUIRED: Used in action.yml, and optionally (if detailed is omitted) in README as well
         * Used By: action.yml and optionally README.md
         */
        short: '{{description}}',
        /**
         * OPTIONAL: Detailed description of what this input is for
         * Used By: README.md
         */
        detailed: undefined,
      },
      /**
       * REQUIRED: Specify whether this input is required.
       */
      required: {{required}},
      {{#default}}
      /**
       * OPTIONAL: Default value to assign to this input.
       */
      default: '{{default}}',
      {{/default}}
    },
  {{/inputs}}
  {{#inputs.0}}
  ],
  {{/inputs.0}}
  {{#outputs.0}}
  /**
   * OPTIONAL: An array of outputs. Output parameters allow you to declare data that an action sets. Actions that run later in a workflow can use the output data set in previously run actions
   * Used By: action.yml, README.md
   */
  outputs: [
  {{/outputs.0}}
  {{#outputs}}
    {
      /**
       * REQUIRED: ID of the output.  Must be unique to the action
       */
      id: '{{id}}',
      /**
       * REQUIRED: Description of the output
       */
      description: {
        /**
         * REQUIRED: Used in action.yml, and optionally (if detailed is omitted) in README as well
         * Used By: action.yml and optionally README.md
         */
        short: '{{description}}',
        /**
         * OPTIONAL: Detailed description of what this input is for
         * Used By: README.md
         */
        detailed: undefined,
      },
    },
  {{/outputs}}
  {{#outputs.0}}
  ],
  {{/outputs.0}}
  /**
   * REQUIRED: The command to run  when the action executes
   * Used By: action.yml
   */
  runs: {
    /**
     * REQUIRED: The application to use to execute code specified in main.
     */
    using: '{{runs.using}}',
    /**
     * REQUIRED: The code file that contains action code.
     */
    main: '{{runs.main}}',
  },
  {{#branding}}
  /**
   * OPTIONAL: You can use a color and Feather icon to create a badge to personalize and distinguish your action in GitHub Marketplace
   * Used By: action.yml
   */
  branding: {
    /**
     *  REQUIRED: The background color of the badge. Can be one of: white, yellow, blue, green, orange, red, purple, or gray-dark.
     * */
    color: '{{color}}',
    /**
     * REQUIRED: Feather icon to use.  See https://feathericons.com/ for full list
     */
    icon: '{{icon}}',
  },
  {{/branding}}
};
