name: {{name}}
description: {{description.short}}
{{#inputs.0}}
inputs:
{{/inputs.0}}
{{#inputs}}
  {{id}}:
    description: {{description.short}}
    {{#required}}
    required: {{required}}
    {{/required}}
    {{^required}}
    required: false
    {{/required}}
    {{#default}}
    default: {{default}}
    {{/default}}
{{/inputs}}
{{#outputs.0}}
outputs:
{{/outputs.0}}
{{#outputs}}
  {{id}}:
    description: {{description.short}}
{{/outputs}}
runs:
  using: {{runs.using}}
  main: {{runs.main}}
{{#branding}}
branding:
  icon: {{icon}}
  color: {{color}}
{{/branding}}